.navigation-container {
  --background-position-distance: 3rem;
  --color: 215, 207, 180;
  --color-alpha: 1;
}
.navigation-container--active {
  cursor: pointer;
}

.navigation-container .navigation {
  visibility: hidden;
  min-height: 3rem;
}

.navigation-container--active .navigation {
  visibility: visible;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;

  transition: transform 250ms, background-position 250ms;
}
.navigation-container svg {
  height: 1rem;
  transition: filter 250ms;
}

.navigation-container:first-child .navigation {
  transform-origin: top center;
  background: radial-gradient(
      ellipse 50% 100% at center 0%,
      rgb(var(--color), var(--color-alpha)),
      rgba(var(--color), 0)
    )
    no-repeat;
  background-position: 0% calc(var(--background-position-distance) * -1);
}
.navigation-container:first-child:hover .navigation {
  transform: perspective(400px) rotateX(-15deg);
  background-position: 0px 0px;
}

.navigation-container:last-child .navigation {
  transform-origin: bottom center;
  background: radial-gradient(
      ellipse 50% 100% at center 100%,
      rgb(var(--color), var(--color-alpha)),
      rgba(var(--color), 0)
    )
    no-repeat;
  background-position: 0% var(--background-position-distance);
}
.navigation-container:last-child:hover .navigation {
  transform: perspective(400px) rotateX(15deg);
  background-position: 0px 0px;
}

.navigation-container:hover .navigation svg {
  color: #f36900;
  filter: drop-shadow(0 2px 2px rgba(255, 255, 255, 1))
    drop-shadow(0 -2px 2px rgba(0, 0, 0, 0.25));
}
