#root {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.app {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;

  height: 100vh;
}

.seperator {
  flex-grow: 1;
}
